.jumbotron {
  padding-top: 6rem;
  background-color: aqua;
}
.pendidikan {
  padding-top: 6rem;
  background-color: aqua;
}
.organisasi {
  padding-top: 6rem;
  background-color: #0099ff;
}
.gallery {
  padding-top: 6rem;
  background-color: aqua;
}
.project {
  padding-top: 6rem;
  background-color: #0099ff;
}
.video {
  padding-top: 6rem;
  background-color: aqua;
}

body {
  min-height: 1000px;
}
